.loader_bg {
  position: fixed;
  z-index: 99999;
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: var(--loader-color);
  position: absolute;
  font-size: 15px;
  margin-top: -100px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.loader {
  border-radius: 30px;
  width: 300px;
  height: 50px;
  border-color: var(--loader-color);
  background: transparent;
  border: 5px solid var(--text-color);
  box-shadow: 0 0 50px var(--accent-color-2);
}

.progress-bar {
  border-radius: 30px;
  width: 0%;
  height: 100%;
  background-color: var(--loader-color); /* Progress bar color */
  animation: progressAnimation 1.5s linear forwards;
  overflow: hidden;
}

.loader:before {
  animation-delay: 0.5s;
}

@keyframes progressAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

:root{
  /* Color Scheme */
  --primary-color: #191a1a;
  --project-background: #1e1f1f;
  --project-border: #242525;
  --accent-color-1: lightskyblue;
  --accent-color-2: lightblue;
  --accent-color-3: #345B64;
  --accent-color-4: rgb(3, 203, 163);
  --text-color: aliceblue;
  --loader-background: #191a1a;
  --loader-color: white;
  --icons-color: rgb(2, 234, 234);

  /* Typography */
  --coding-font-family: 'Courier New', Courier, monospace;
  --proj-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --gill-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --date-font: monospace;
  --description: 'Times New Roman', Times, serif;
  --title-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--primary-color);
  z-index: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  overflow-y: auto;
  top: 0;
  z-index: 1100;
  background-color: var(--accent-color-1);
  transform-origin: left;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.main-content{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.social-icon.github {
  padding: 15px;
  font-size: 15px;
  color: var(--text-color);
}
.social-icon.instagram {
  padding: 15px;
  font-size: 15px;
  color: var(--text-color);
}
.social-icon.linkedin {
  padding: 15px;
  font-size: 15px;
  color: var(--text-color);
}
.social-icon.codeopen {
  padding: 15px;
  font-size: 15px;
  color: var(--text-color);
}

.icons{
  display: flex;
  place-content: center;
  font-size: 15px;
  color: var(--text-color);
  padding-top: 20px;
  margin-top: 30px;
}

div{
  display: block;
}

.particles-background-container{
  width: 100%;
  height: 100vh;
}

.welcome-container-box{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1.5rem;
  z-index: 1;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--loader-background);
  z-index: 0;
}

.particles-js-canvas-el{
  z-index: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--text-color);
  font-size: 20px;
}

a{
  color: var(--text-color);
  display: inline-block;
  text-decoration: none;
  position: relative;
}
 
.layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section{
  display: block;
  z-index: 5;
  padding-top: 100px;
}

.nav-bar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 80px;
  cursor: pointer;
}

@media screen and (max-width: 1920px){
  .nav-bar {
    border-bottom: none;
    height: auto;
    padding: 2rem 0;
    position: relative;
}

  .welcome-container-box{
    position: relative;
  }

}

.actual-socials-container{
  display: flex;
  place-content: center;
  margin: 0px;
  list-style: none;
}

li{
  display: list-item;
  font-weight: 600;
  font-family: var(--coding-font-family);
  line-height: 40px;
}


nav div li a {
  color: var(--loader-color);
  font-size: 17px;
  margin-left: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s ease;
}

nav div li {
  display: inline-block;
  margin: 10px;
}

.nav-contain{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.nav-bar-items{
  align-items: center;
  display: inline-flex;
}

.resume-box{
  position: relative;
  border: 1px solid var(--accent-color-3);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
  transition: 0.5s;
  z-index: 2;
}

.contact-box{
  position: relative;
  border: 1px solid var(--accent-color-3);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
  transition: 0.5s;
  z-index: 2;
}

.contact-text{
  color: var(--text-color);
  font-family: var(--coding-font-family);
  font-weight: 600;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.resume-text{
  color: var(--text-color);
  font-family: var(--coding-font-family);
  font-weight: 600;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.resume-box:hover{
  background: var(--accent-color-3);
  box-shadow: 0 0 35px var(--accent-color-3);
}

.contact-box:hover{
  background: var(--accent-color-3);
  box-shadow: 0 0 35px var(--accent-color-3);
}

.contain-box{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1.5rem;
  z-index: 1;
}

.grid{
  display: block;
  z-index: 1;
}

.actual-content{
  max-width: 100%;
  min-width: 0;
  z-index: 1;
}

.welcome-text-wrapper{
  padding-bottom: 50px;
  line-height: 80px;
  z-index: 1;
}

.welcome-text{
  text-align: left;
  color: var(--accent-color-2);
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--gill-sans);
  animation: fadeIn 2s ease-in;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  z-index: 2;
  max-width: 800px;

}

.actual-welcome-text{
  color: rgb(3, 203, 163);
  font-size: 5rem;
  text-decoration: none;
  z-index: 2;
}

.name-title{
  color: var(--text-color);
  font-size: 5rem;
  text-decoration: none;
  padding-bottom: 30px;
  z-index: 2;
}

.about-description{
  color: var(--text-color);
  font-size: 1.5rem;
  width: 100%;
  font-family: var(--description);
  line-height: 60px;
  padding-bottom: 100px;
  z-index: 3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.my-wrapper{
  display: flex;
  place-content: center;
  gap: 1.5rem;
  padding-top: 0;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

img{
  width: 100%;
  height: 450px;
  border-radius: 5px;
  border: 3px solid var(--accent-color-4);
  box-shadow: 0 0 50px var(--accent-color-4);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
}

.iceland-style {
  font-family: cursive;
  font-weight: 600;
  padding-left: 10px;
}

/* Visible state for fade-in */
.iceland-style:not(.hidden) {
  visibility: visible;
  opacity: 1;
}


.underline:after{
  content: "";
  position: absolute;
  background-color: var(--accent-color-1);
  height: 3px;
  width: 0;
  left: 0;
  bottom: 1px;
  transition: 0.3;
}

.underline:hover:after{
  width: 100%;
}

.image-wrapper{
  width: 700px;
  height: 450px;
  z-index: 1;
  position: relative;
}

.about{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--title-font);
  color: var(--text-color);
  overflow: hidden;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
}

#about-icon{
  padding-left: 10px;
  color: var(--icons-color);
}

#hardware-icon{
  padding-left: 10px;
  color: var(--icons-color);
}

#projects-icon{
  padding-left: 10px;
  color: var(--icons-color);
}

#skills-icon{
  padding-left: 10px;
  color: var(--icons-color);
}

.intro-text{
  display: flex;
  place-content: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--coding-font-family);
  margin-left: 40px;
  margin-right: 40px;
  line-height: 2rem;
}

.hardware-text{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--title-font);
  color: var(--text-color);
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}

.specs-text{
  font-weight: 500;
  padding-bottom: 50px;
  color: var(--text-color);
  z-index: 3;
}

.skills-text{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--title-font);
  color: var(--text-color);
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.specs-container{
  border: 2px solid var(--accent-color-2);
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 50px var(--accent-color-1);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.spec-title{
  font-family: var(--coding-font-family);
  font-weight: 600;
}

.pc-text{
  margin-left: 40px;
  font-weight: 300;
  padding-bottom: 25px;
  padding-top: 25px;
}

.projects-text{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--title-font);
  color: var(--text-color);
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.project-wrapper{
  display: grid;
  gap: 1rem;
  padding-bottom: 50px;
}

.skills-wrapper{
  display: grid;
  gap: 1rem;
  padding-bottom: 50px;
}

.skills{
  position: relative;
  background: var(--project-background);
  border: 1px solid var(--project-border);
  border-radius: 0.5rem;
  box-shadow: 0 0 50px var(--accent-color-4);
}

.skill-text{
  display: flex;
  place-content: center;
  color: var(--text-color);
  font-family: var(--coding-font-family);
  font-weight: 600;
  padding-bottom: 50px;
}

.contacts-wrapper{
  display: grid;
}

.socials-wrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  place-items: center;
}


.project-1{
  position: relative;
  background: var(--project-background);
  border: 1px solid var(--project-border);
  border-radius: 0.5rem;
  box-shadow: 0 0 50px var(--accent-color-1);
}

.date-1{
  font-family: var(--date-font);
  color: var(--accent-color-1);
  margin-left: 10px;
}

.proj-description{
  color: var(--text-color);
  font-size: 1rem;
  margin-left: 10px;
  line-height: 2.5rem;
  font-family: var(--coding-font-family);
  font-weight: 600;
}

.project-2{
  position: relative;
  background: var(--project-background);
  border: 1px solid var(--project-border);
  border-radius: 0.5rem;
  box-shadow: 0 0 50px var(--accent-color-1);
}

.date-2{
  font-family: var(--date-font);
  color: var(--accent-color-1);
  margin-left: 10px;
}

.email-container{
  display: flex;
  place-content: center;
  margin: 0px;
  list-style: none;
}

.built-text{
  color: var(--text-color);
  font-size: 15px;
  font-family: var(--gill-sans);
}

a.proj-title{
  border: 0;
  color: var(--text-color);
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--proj-font);
  line-height: 1.3;
  margin: 0.5rem;
  padding: 0;
  text-decoration: none;
  transition: 0.5s;
}

a.proj-title:hover{
  color: var(--accent-color-1);
  cursor: pointer;
}

.dropdown {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}




@media screen and (max-width: 543px){
  .my-wrapper{
    padding-top: 200px;
  }


  img{
    height: 250px !important;
  }
}

@media screen and (max-width: 350px){
  .contain-box{
    margin-left: 50px;
    max-width: 900px !important;
  }

  .specs-container{
    max-width: 900px;
  }

  .my-wrapper{
    margin-top: 100px;
    padding-bottom: 0 !important;
  }

  .image-wrapper{
    height: 350px;
  }

  img{
    width: 600px !important;
    height: 200px !important;
  }
}

@media screen and (max-height: 670px){
  .my-wrapper{
    margin-top: 50px;
  }
}

@media screen and (max-width: 700px){
  .project-1{
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 700px){
  .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
}
  .skills-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 2560px){
  .welcome-container-box{
    position: relative;
    padding-top: 200px;
  }
}

@media screen and (max-width: 500px) {
  .image-wrapper, .my-wrapper{
    display: none !important;
  }
}

@media screen and (max-width: 450px) {
  .name-title {
    font-size: 4.5rem !important;
    text-align: center !important;
  }

  .actual-welcome-text {
    font-size: 4.5rem !important;
    text-align: center !important;
  }

  .about-description {
    font-size: 1.2rem !important;
    line-height: 50px !important;
    text-align: center !important;
  }

}

/* Mobile styles */
@media screen and (max-width: 768px) {
  /* Hide the regular Contact and Resume links */
  .contact-resume {
      display: none;
  }
  /* Show the dropdown button on mobile screens */
  .dropdown {
      display: flex;
      justify-content: center;
      position: relative;
  }

  .dropdown-btn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-family: var(--coding-font-family);
    text-transform: uppercase;
    font-weight: 600;
  }
  /* Style the dropdown content */
  .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(30, 30, 30);
      min-width: 160px;
      z-index: 1;
      text-align: center;
  }

  .dropdown-content a {
      color: rgb(32, 31, 31);
      text-decoration: none;
      display: block;
  }

  .contact-box {
    margin-left: 0px !important;
  }

  .resume-box {
    margin-left: 0px !important;
  }
}

@media screen and (max-height: 700px) {
  .main-content {
    padding-top: 350px !important;
  }

  .dropdown-btn {
    font-size: 14px;
  }

  nav div li a {
    font-size: 14px;
  }

  .name-title {
    font-size: 4rem !important;
    text-align: center !important;
  }

  .actual-welcome-text {
    font-size: 4rem !important;
    text-align: center !important;
  }

  .about-description {
    font-size: 1.1rem !important;
    line-height: 50px !important;
    text-align: center !important;
  }
  
  
}

/* Show the dropdown content when the button is clicked */
.dropdown.open .dropdown-content {
  display: block;
}





